.wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.input-box {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.todo-input {
    width: 70%;
    padding: 0 5px;
}

.todo-list {
  width: 400px;
  padding: 0;
}

.todo-item {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}

.todo-btns {
  display: flex;
}
